{%  extends 'base.html' %}

{%  block content %}

<div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        <div>
            {% if target_user.profile %}
                <img src="{{  target_user.profile.image.url }}"
                     class="profile_image m-4"
                     alt="profile image">{#이 이미지가 못가져왔을때 시각화를 못할경우 대신하는 텍스트 #}
                {# profile이 어디에 나와 있나 related_nickname을 통해 Profile에 접근 할 수 있다 #}
                <h2 class = "NNS_B">{{ target_user.profile.nickname }}
                    <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                        edit
                    </a>
                </h2>
                <h4>{{ target_user.profile.message }}</h4>
            {% else %}
            <h4>
                <a href=""{% url 'profileapp:create' %}>
                    Create Profile
                </a>
            </h4>
            {% endif %}
        </div>
        <h2 style="font-family: 'NanumSquareB">
            {{ target_user.username }}
        </h2>
        {% if user == target_user %}
            <div>
                <a href="{% url 'accountapp:update' pk=target_user.pk %}">
                    Update Info
                </a>
            </div>
            <div>
                <a href="{% url 'accountapp:delete' pk=target_user.pk %}">
                    Quit
                </a>
            </div>
        {%  endif %}
    </div>
</div>

{% endblock %}